== render partial: 'mail',
  locals: { lines: t('.lines_html', user_name: @user.nickname, repo_full_name: @repo_full_name,
  repo_link: @check.repository.clone_url, check_link: repository_check_url(@check.repository, @check)) }
